.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5vh;
    width: 100%;
}
.footerSection{
    display: flex;
    justify-content: space-evenly;
}
.footerSection a{
    text-decoration: none;
    color: white;
}